
{% extends "pages/partials/base.html" %}
{% load static %}
{% block css %} 
<style type="text/css">
    /****** IGNORE ******/
/* .file-upload { 
width: 400px; 
margin: 100px auto; 
background-color: #f5f5f5; 
} */

.copyright {
display:block;
margin-top: 100px;
text-align: center;
font-family: Helvetica, Arial, sans-serif;
font-size: 12px;
font-weight: bold;
text-transform: uppercase;
}
.copyright a{
text-decoration: none;
color: #EE4E44;
}
/****** CODE ******/
.file-upload{display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
</style>
{% endblock %}

<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>

{% block content %}
{% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}    
<p>
    <a class="btn btn-light" href="{% url 'style_list' %}">
    Style Listing
    </a>
</p>

<h1> Upload Style</h1>
<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
    

<div class="file-upload" id="stylenamee">
<!-- <div class="file-select">  -->
<div class="file-select-name" id="stylename">Type Style Name</div>
<input type="text" name="stylename" id="typename" required>
<!-- </div> -->
<hr>
<div class="file-select">
<div class="file-select-button" id="fileName">Upload Style</div>
<div class="file-select-name" id="noFile1">No file chosen...</div> 
<input type="file" name="image1" id="chooseFile1" required>
</div>
<br>
<input class="btn btn-info" type="submit" value="Upload">
</form>
</div>

<!-- IGNORE -->
<div class="copyright">
By <a href="#">seg</a>.
</div>

<script>
$('#chooseFile1').bind('change', function () {
var filename = $("#chooseFile1").val();
if (/^\s*$/.test(filename)) {
$("#file-upload1").removeClass('active');
$("#noFile1").text("No file chosen..."); 
}
else {
$("#file-upload1").addClass('active');
$("#noFile1").text(filename.replace("C:\\fakepath\\", "")); 
}
});
</script>

{% endblock %}