<div class="row">

    <div class="col-md-12 mt-4">
        <div class="card">
            <div class="card-header bg-info text-white">
                Dashboard Statistics
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <a class="text-decoration-none text-dark" href="#">
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <h4>Total <i class="fas fa-border-all"></i></h4>
                                    <h3>11</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="text-decoration-none text-dark" href="#">
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <h4>Completed <i class="fas fa-box"></i></h4>
                                    <h3>40</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="text-decoration-none text-dark" href="#">
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <h4>Not Completed <i class="fas fa-clipboard-list"></i></h4>
                                    <h3>14</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>